@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

/* header */

.hero,.footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    width: 900px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding-left: 8px;
    margin-right: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding-right: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* description */

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
}

.description-text {
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 24px;
    color: #e5e7eb;
}

.sign-up-button {
    color: #e5e7eb;
    background-color: rgb(0, 140, 255);
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    margin: 10px 0;
}

.sign-up-button:hover {
    cursor: pointer;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-image {
    aspect-ratio: auto 709 / 471;
    max-width: 400px;
}

/* info container */

.info-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.info-title {
    width: 100vw;
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card {
    max-width: 200px;
    padding: 25px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card-image {
    flex-shrink: 0;
    width: 140px;
    height: 140px;
    border: 3px solid rgb(0, 68, 255);
    border-radius: 20px;
}

.card-text {
    color: #424242;
    width: 150px;
}

/* quote */

.quote-container {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #424242;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
}

.source {
    width: 800px;
    color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    flex-direction: row-reverse;
}

/* sign up box */

.sign-up-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    height: 100px;
    width: 800px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.call-action-title,.call-action-text {
    color: #f9faf8;
    flex: 2;
}

.call-action-title {
    font-weight: bold;
    font-size: 24px;
}

.call-action-button { 
    background-color: #3882f6;
    height: 30px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

.call-action-button:hover {
    cursor: pointer;;
}

/* footer */

.footer {
    height: 50px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}